@use "variables" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 3rem;
}
