<fortes-header />
<h1>Cadastro</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form_field">
    <img
      class="input_icon"
      ngSrc="assets/svg/badge.svg"
      height="20"
      width="20"
      alt="Matrícula"
    />
    <input
      type="text"
      id="matricula"
      formControlName="matricula"
      placeholder="Matrícula"
      mask="000000000"
    />
  </div>
  @if(matricula.invalid && matricula.touched){
    <fortes-toast type="warn">
      A matricula deve conter 9 caracteres numéricos
    </fortes-toast>
  }

  <div class="form_field">
    <img
      class="input_icon"
      ngSrc="assets/svg/person.svg"
      height="18"
      width="18"
      alt="Usuario"
    />
    <input type="text" id="nome" formControlName="nome" placeholder="Nome" />
  </div>
  @if(nome.invalid && nome.touched){
    <fortes-toast type="warn">
      O campo nome está inválido
    </fortes-toast>
  }

  <div class="form_field">
    <img
      class="input_icon"
      ngSrc="assets/svg/alternate_email.svg"
      height="20"
      width="20"
      alt="Email"
    />
    <input type="text" id="email" formControlName="email" placeholder="Email" />
  </div>
  @if(email.invalid && email.touched){
    <fortes-toast type="warn">
      Insira um email valido
    </fortes-toast>
  }

  <div class="form_field">
    <img
      class="input_icon"
      ngSrc="assets/svg/lock.svg"
      height="20"
      width="14"
      alt="icone de segurança"
    />
    <input
      type="password"
      id="senha"
      formControlName="senha"
      placeholder="Senha"
    />
  </div>
  @if(senha.invalid && senha.touched){
    <fortes-toast type="warn">
      A senha precisa ter entre 8 e 16 caracteres
    </fortes-toast>
  }

  <div class="form_field">
    <img
      class="input_icon"
      ngSrc="assets/svg/lock.svg"
      height="20"
      width="14"
      alt="icone de segurança"
    />
    <input
      type="password"
      id="confirmarSenha"
      formControlName="confirmarSenha"
      placeholder="Confirme a sua senha"
    />
  </div>

  <fortes-address-form />

  <fortes-select
    label="Nivel Hierárquico"
    [options]="options"
    (onSelect)="tipoRegistro.setValue($event)"
  />

  <button
    type="submit"
    [disabled]="form.invalid || isButtonDisable || adressForm()?.invalid"
  >
    Cadastrar
  </button>
</form>
<a routerLink="/">Voltar</a>
