@font-face {
  font-family: "PP Telegraf";
  src: url(../fonts/PPTelegraf-Ultralight.otf);
  font-weight: 400;
}

@font-face {
  font-family: "PP Telegraf";
  src: url(../fonts/PPTelegraf-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: "PP Telegraf";
  src: url(../fonts/PPTelegraf-Ultrabold.otf);
  font-weight: 600;
}