@use "fonts" as *;
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PP Telegraf", sans-serif;
  @include paragraph1;
}

a {
  color: $navi-blue;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

button {
  width: 320px;
  color: $white;
  padding: 0.75rem 0;
  background-color: $navi-blue;
  border: 1px solid $navi-blue;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: $navi-blue;
    background-color: $white;
  }

  &:disabled {
    color: $gray-100;
    background-color: $gray-400;
    border: 1px solid $gray-400;
  }
}

input {
  width: 320px;
  color: $navi-blue;
  background-color: $gray-100;

  padding: 0.75rem 1rem 0.75rem 3rem;

  outline: none;
  border: none;
  border-bottom: 2px solid $navi-blue;

  &::placeholder {
    color: $navi-blue;
    @include paragraph3;
  }
}

textarea {
  color: $gray-900;
  border: 1px solid $gray-400;
  border-radius: $radius-1;
  outline: none;
}

::-webkit-scrollbar {
  display: block;
  background-color: $gray-100;
  border-radius: $sz-8;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-400;
  border-radius: $sz-8;
}
