@use "fonts" as *;
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PP Telegraf", sans-serif;
  @include paragraph1;
}

a {
  color: $navi-blue;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

button {
  width: 320px;
  color: $white;
  padding: 0.75rem 0;
  background-color: $navi-blue;
  border: 1px solid $navi-blue;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: $navi-blue;
    background-color: $white;
  }

  &:disabled {
    color: $gray-100;
    background-color: $gray-400;
    border: 1px solid $gray-400;
  }
}

form {
  width: 320px;
}

input {
  width: 100%;
  color: $navi-blue;
  background-color: $gray-100;

  padding: 0.825rem 3rem;

  outline: none;
  border: none;
  border-bottom: 2px solid $navi-blue;
  border-radius: $radius-1 $radius-1 0 0;
  transition: 0.3s ease;

  &::placeholder {
    color: $navi-blue;
    @include paragraph3;
  }

  &:focus {
    background-color: $white;
  }
}

textarea {
  color: $gray-900;
  border: 1px solid $gray-400;
  border-radius: $radius-1;
  outline: none;

  padding: $sz-8;
  min-height: 100px;
  width: 400px;
}

.form_field {
  width: 100%;
  position: relative;

  .input_icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
  }
}

.form_columns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $sz-8;
}

::-webkit-scrollbar {
  display: block;
  background-color: $gray-100;
  border-radius: $sz-8;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-400;
  border-radius: $sz-8;
}
