:host {
  display: block;

  width: 100%;
  max-width: 720px;
  margin: 3rem auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  :host {
    margin: 3rem 0;
  }

  header {
    padding: 2rem;
  }
}
