@use "variables" as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $sz-8;

  color: $white;
  font-size: 0.725rem;
  padding: $sz-8 $sz-16;
  border-radius: $radius-1;
  width: fit-content;
}

:host.info {
  color: $pale-cyan-blue;
  background-color: #8ed1fc1a;
  border: 1px solid $pale-cyan-blue;
}

:host.warn {
  color: $ui-error;
  background-color: #ee2c8205;
  border: 1px solid $ui-error;
}

:host.sucess {
  color: $light-green-cyan;
  background-color: #00d08405;
  border: 1px solid $light-green-cyan;
}
